@import url('./reset.css');

:root {
    --color-bg: #111213;
    --color-bg-variant: #202225; /* #17191A */
    --color-bg-variant-a: #27292a;
    --color-fg: #fff;
    --color-fg-variant: #dddddd;
    --color-fg-variant-a: #aaa;
    --color-primary: #F44336;
    --color-primary-variant: #E92E20;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --transition: all .15s;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);

    font-family: var(--font-secondary);
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    color: var(--color-primary);
}

a {
    color: var(--color-fg);
    text-decoration: none;
}

.btn {
    background-color: var(--color-primary-variant);
    color: var(--color-fg);

    font-family: var(--font-primary);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-primary);
}

.text-l {
    font-size: large;
}

.text-sm {
    font-size: small;
}

.text-xsm {
    font-size: x-small;
}

/*  MOBILE SCREENS  */
@media only screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        font-size: 12px;
    }
}