@import url('./reset.css');

:root {
    --color-bg: #111213;
    --color-bg-variant: #17191A;
    --color-fg: #fff;
    --color-fg-variant: #7d7d7d;
    --color-primary: #F44336;
    --color-primary-variant: #E92E20;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);

    font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    color: var(--color-primary);
}

.btn {
    background-color: var(--color-primary-variant);
    color: var(--color-fg);

    font-family: var(--font-primary);
    transition: .25s;
}

.btn:hover {
    background-color: var(--color-primary);
}