header {
    padding: 15px 8em;
    border-bottom: 1px solid var(--color-bg-variant);

    display: flex;
    justify-content: space-between;
}

header .header-logo {
    display: flex;
}

header .header-logo #header-logo-img {
    width: 50px;
    margin-right: 5px;
}

nav {
    width: 20em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: var(--transition);
    padding: 10px;
    border-radius: 50%;
    background-color: var(--color-bg-variant);
}

nav .nav-icon:hover {
    background-color: var(--color-primary-variant);
    cursor: pointer;
}

header .btn {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.nav-btn {
    background-color: transparent;
    outline: none;
    border: none;

    display: none;
}

.nav-dropdown {
    display: none;

    position: absolute;
    top: 72px;
    right: 17px;

    border: 2px solid var(--color-fg-variant);
    border-radius: 5px;
    padding: 10px 20px;
    width: 159px;

    color: var(--color-fg);
    background-color: var(--color-bg-variant);
}

.nav-dropdown .menu-item {
    margin: 12px 5px;
    display: flex;
    align-items: center;
}

.nav-dropdown .menu-item p {
    margin-left: 15px;
}

.nav-dropdown .btn {
    text-align: center;
}

/* ADDITIONALS */
.nav-main {
    display: none;
    align-items: center;
}

.nav-main #nav-main-btn {
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 13px;
}

/*  MOBILE SCREENS  */
@media only screen and (max-width: 800px) {
    header {
        padding: 15px 10px;
    }

    header .btn {
        padding: 5px;
    }

    nav {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    
    .nav-open {
        display: flex;
        flex-direction: column;
    }

    header .header-logo #header-logo-img {
        width: 38px;
        margin-right: 5px;
    }

    
    .nav-main {
        display: flex;
    }
}