.pagination {
    list-style: none;
    color: white;

    display: flex;
    align-items: center;
    height: 2.7rem;
    margin: 1rem 3rem;
    border-radius: 0.6rem;
    background-color: var(--color-bg-variant);
}

.pagination li button {
    outline: none;
    border: none;
    color: white;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg-variant);

    width: 2rem;
    border-radius: 0.3rem;
    padding: 3px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: var(--transition);
}

.pagination .active button,
.pagination li button:hover {
    background-color: var(--color-primary);
}